<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        
        
        
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/catalog</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">start</property>
        <property name="hibernate.connection.pool_size">10</property>
        <property name="username">root</property>
        <property name="password">start</property>
        
        <!--

 To be used in production environments - ensures reconnects if no connections are used in 8 hours.
 Only with MySQL.
    <property name="hibernate.connection.datasource">java:/comp/env/jdbc/n1</property> -->
        <property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.setup">true</property>
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.cglib.use_reflection_optimizer">false</property>
        
        <!-- Drop and re-create or update the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
        
        <mapping class="com.asap.catalog.dao.Book"/>
        <mapping class="com.asap.catalog.dao.ShopCartItem"/>
        <mapping class="com.asap.catalog.dao.ProductShopCartItem"/>
        <mapping class="com.asap.catalog.dao.TermShopCartItem"/>
        <mapping class="com.asap.catalog.dao.Event"/>
        <mapping class="com.asap.catalog.dao.Configuration"/>
        <mapping class="com.asap.catalog.dao.Category"/>
        <mapping class="com.asap.catalog.dao.Page"/>
        <mapping class="com.asap.catalog.dao.Part"/>
        <mapping class="com.asap.catalog.dao.Campaign"/>
        <mapping class="com.asap.catalog.dao.Course"/>
        <mapping class="com.asap.catalog.dao.Family"/>
        <mapping class="com.asap.catalog.dao.Location"/>
        <mapping class="com.asap.catalog.dao.Request"/>
        <mapping class="com.asap.catalog.dao.RequestItem"/>
        <mapping class="com.asap.catalog.dao.Term"/>
        <mapping class="com.asap.catalog.dao.User"/>
        <mapping class="com.asap.catalog.dao.ShopCart"/>
        <mapping class="com.asap.core.number.MutableInteger"/>
    </session-factory>
</hibernate-configuration>